.git
.github
.idea
.vscode
.zed
.fleet
.nova
.DS_Store
README.md
LICENSE
Justfile
docker-compose.yml
node_modules
**/node_modules
apps/api/vendor
apps/web/.output
apps/web/.nuxt
apps/web/.nitro
apps/web/.cache
apps/web/dist
apps/api/storage/logs/*
!apps/api/storage/logs/.gitignore
*.log
